.account_content{
	position: relative;
}

.user_account span {
	float: right;
}
.main_r_details{
	width: 960px;
	height: 370px;
	background-color:#fff ;
}
.details_box{
	width: 780px;
	height: 80px;
	margin: 0 auto;
	margin-top:110px;
	background-color: #f8fafe;
	border-radius: 10px;
}

.details_box div{
	float: left;
}
.user_balance{
	font-size: 14px;
	float: left;
	color: #8C93A2;
	text-align: center;
	margin-top: 30px;
	height: 20px;
}
.road_balance{
	font-size: 16px;
	float: left;
	color: #8C93A2;
	text-align: center;
	
	height: 20px;
}
.btn{
	text-align: center;
	margin-top: 22px;
	float: left;
	margin-left: 110px;
	width: 92px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	background-color: #eb6e28;
}
.blue_circle{
	width: 5px;
	height: 5px;
	border-radius: 10px;
	border: solid 5px #1555da;
	margin: 34px 8px 30px 60px;
}
.user_balance_num{
	width: 101px;
	height: 19px;
	position:relative;
	top:1px;
	font-family:"AvantGuardRegularSWFTE";
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	margin-left: 25px;
	line-height: 20px;
	letter-spacing: 0px;
	color: #3a4762;
}
.user_balance_num span{
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #3a4762;
}
.yellow_circle{
	width: 5px;
	height: 5px;
	border-radius: 10px;
	border: solid 5px #ffb20e;
	margin: 34px 8px 30px 70px;
}
.road_money{
	font-size: 14px;
	float: left;
	color: #8C93A2;
	text-align: center;
	margin-top: 30px;
	height: 20px;
}
.road_money_num{
	width: 101px;
	height: 19px;
	position: relative;
	top: 1px;
	font-family: "AvantGuardRegularSWFTE";
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	margin-left: 25px;
	line-height: 20px;
	letter-spacing: 0px;
	color: #8c93a2;
}
.road_money_num span{
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #8c93a2;
}
#user_title{
	position: absolute;
	width: 72px;
	left: 445px;
	top:-250px;
	color:#8c93a2;
	font-size: 18px;
	z-index: 100;
}
#user_title span{
	font-size: 18px;
}
.tip_txt_icon{
	width: 16px;
	height: 16px;
	margin-top: 3px;
	margin-left: 2px;
	position: absolute;
	background: url(../img/tip_icon_01.png) no-repeat 0px 1px;
}
.tip_txt_icon1{
	width: 16px;
	height: 16px;
	margin-top: 4px;
	position: absolute;
	background: url(../img/tip_icon_01.png) no-repeat 0px 1px;
}
#cy_tip_box {
    position: absolute;
    width: 230px;
    height: auto;
    top: -40px;
    left: -115px;
    background-color: rgb(255, 255, 255);
    display: none;
}
.cy_tip {
    width: 230px;
    height: auto;
    line-height: 27px;
    border: 1px solid #8c93a2;
    position: relative;
    font-size: 12px;
    text-align: center;
}
#cy_tip_box1{
    position: absolute;
    width: 410px;
    height: auto;
    top: -40px;
    left: -216px;
    background-color: rgb(255, 255, 255);
    display: none;
}
.cy_tip1 {
    width: 430px;
    height: auto;
    line-height: 27px;
    border: 1px solid #8c93a2;
    position: relative;
    font-size: 12px;
    text-align: center;
}
#cy_tip_box2{
    position: absolute;
    width: 191px;
    height: auto;
    top: -40px;
    left: -95px;
    background-color: rgb(255, 255, 255);
    display: none;
}
.cy_tip2{
    width: 190px;
    height: auto;
    line-height: 27px;
    border: 1px solid #8c93a2;
    position: relative;
    font-size: 12px;
    text-align: center;
}
.cy_san {
    border-top: 6px solid #8c93a2;
    border-left: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    left: 50%;
    bottom: -12px;
}
.cy_nsan {
    border-top: 4px solid white;
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    left: 50.6%;
    bottom: -8px;
}
.tip_txt_icon:hover #cy_tip_box {
    display: block;
}
.tip_txt_icon:hover #cy_tip_box1{
    display: block;
}
.tip_txt_icon1:hover #cy_tip_box2{
    display: block;
}