.main_r{
	height: 920px;
}
.main_r .safety_header{
	height: 80px;
	line-height: 80px;
	width: 964px;
	padding-left: 60px;
	box-sizing: border-box;
	border-bottom: 2px solid #f1f5fc;
}
.safety_header p{
	font-size: 20px;
	color: #3a4762;
	
}
.revise_box{
	width: 964px;
	padding-top: 80px;
	
}
.revise_status{
	width: 675px;
	height: 30px;
	padding-left: 285px;
	text-align: center;
	margin-bottom: 60px;
}
.revise_status1{
	width: 130px;
	height: 30px;
	float: left;
	font-size: 12px;
	border-bottom: 3px solid #d6def3;
	color: #8c93a2;
}
.revise_status2{
	width: 130px;
	height: 30px;
	float: left;
	font-size: 12px;
	border-bottom: 3px solid #d6def3;
	color: #8c93a2;
}
.revise_status3{
	width: 130px;
	height: 30px;
	float: left;
	font-size: 12px;
	border-bottom: 3px solid #d6def3;
	color: #8c93a2;
}
.form_status1{
	width: 400px;
	height: 210px;
	margin-left: 230px;
	display: none;
}
.form_status2{
	width: 400px;
	height: 210px;
	margin-left: 230px;
	display: none;
	
}

.old_phone_box{
	width: 400px;
	height: 45px;
	margin-bottom: 40px;
	position: relative;
}
.label_txt{
	width: 70px;
	height: 45px;
	line-height: 45px;
	text-align: right;
	float: left;
	margin-right: 30px;
	font-size: 14px;
}
.txt_inp{
	width: 272px;
	height: 46px;
	padding: 0px 12px;
	float: left;
	font-size: 14px;
	border: 1px solid #cfd5e1;
}
.code_box{
	width: 400px;
	height: 45px;
	position: relative;
	margin-bottom: 40px;
	
}
.code_txt{
	width: 70px;
	height: 45px;
	line-height: 45px;
	text-align: right;
	font-size: 14px;
	float: left;
	margin-right: 30px;
}
.code_inp{
	width: 186px;
	height: 46px;
	padding: 0px 100px 0px 12px;
	float: left;
	border: 1px solid #cfd5e1;
}

.revise_sub{
	color: #fff;
	width: 300px;
	height: 45px;
	background-color: #EB6E28;
	border: none;
	margin-left: 100px;
}
.old_phone_tip{
	position: absolute;
	top: 60px;
	left: 100px;
	color: #ff6666;
	display: none;
}
.revise_status .suc{
	color: #607ee2;
	border-bottom: 3px solid #8ca2da;
}
.error{
	display: block;
}
.suc_box{
	width: 964px;
	text-align: center;
	display: none;
}
.suc_img{
	/*width: 100px;
	height: 65px;
	margin-bottom: 25px;*/
}
.suc_txt{
	font-size: 24px;
	color: #3a4762;
	margin-bottom: 80px;
}
.go_safety{
	width: 300px;
	height: 46px;
	line-height: 46px;
	background-color: #eb6e28;
	margin: 0 auto;
}
.go_safety a{
	width: 300px;
	height: 46px;
	font-size: 14px;
	color: #ffffff;
	display: block;
}
.show{
	display: block;
}
.inp_box{
	width: 540px;
	height: 45px;
	position: relative;
	margin-bottom: 20px;
}
.inp_b_box{
	width: 540px;
	height: 45px;
	margin-bottom: 40px;
	position: relative;
}
