.compute{width:1200px;min-height:823px;margin:30px auto;background:#fff;overflow: hidden;}
.compute .compute_tit{min-height: 80px;line-height:80px;border-bottom:2px solid #f1f5fc;width:100%;}
.compute .compute_tit p{margin-left:60px;color:#3a4762;font-size: 20px;}
.compute .compute_foot{height:180px;border-top:1px solid #f1f5fc;margin-top:60px;}
.compute .compute_foot ul{line-height: 26px;margin-top:24px;margin-left:204px;font-size:14px;color: #8c93a2;}
.compute .compute_foot span{position:relative;top:45px;left:100px;}
.compute_content .c_t_left{width:50%;min-height:570px;float:left;}
.compute_content .c_t_left .invest_form{min-width:432px;min-height:447px;margin-top:90px;margin-left:160px;}
.compute_content .c_t_left .invest_form ul>li{margin-bottom: 20px;height:46px;}

.invest_form ul>li input{width:318px;height:44px;float:right;text-indent: 1em;font-size: 14px;outline:0;border:1px solid #a9a9a9;}

select {
	border: solid 1px #a9a9a9;
	font-size: 14px;
	width:320px;height:46px;margin-left:35px;padding-left:14px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url("../img/selet_xl.png") no-repeat scroll 295px center transparent;
	padding-right: 18px;
}
.datalist option{color:red;}

select::-ms-expand {
	display: none;
}
select:focus{
	border: solid 1px #607ee2;
}
.tabhid{display: none;}
.invest_form ul>li span:nth-child(1){margin-left:25px;line-height: 42px;font-size:14px;}
.invest_form ul>li a{position:relative;top:1px;left:330px;color:#3a4762;}
.compute_content .c_t_right{width:50%;min-height:570px;float:right;}
.compute_content .c_t_right .reckon{width:330px;height:226px;background:#f6f8fc;margin-top:90px;margin-left:120px;border: solid 1px #e4e8f0;}
.compute_content .c_t_right .reckon .reckon_tit{height:52px;line-height: 52px;border-bottom: solid 1px #e4e8f0;}
.compute_content .c_t_right .reckon .reckon_tit>p{font-size:16px;margin-left:32px;}
.compute_content .c_t_right .reckon .reckon_content{width:262px;height:124px;margin-left:32px;margin-top:24px;}
.c_t_right .reckon .reckon_content .reckon_contentL{float: left;line-height: 30px;color:#8c93a2;}
/*.c_t_right .reckon .reckon_content .reckon_contentL ul li span{color:#eb6e28;margin-left:100px;}*/

.c_t_right .reckon .reckon_content .reckon_contentR{line-height: 30px;color:#3a4762;float: right;}
.c_t_right .reckon .reckon_content .reckon_contentR ul>li{font-size:16px;}
.reckon_contentR ul li span{color:#eb6e28;}
#btn_com{width:150px;height:44px;cursor:pointer;background:#eb6e28;text-align:center;margin-right:15px;float: left;outline: 0;border:1px solid #eb6e28;color:#fff;}
#btn_resets{width:150px;height:44px;cursor:pointer;background:#fff;float: right;position:relative;top:0px;outline: 0;color:#eb6e28;border:0;border:1px solid #eb6e28;}
.reckon_contentL ul>li{font-size:16px;}
.compute_content .invent_tab{width:1000px;margin-left:100px;margin-top:80px;}
.compute_content .c_t_left .invest_form .pwd_err{color:red;margin-left:120px;position:relative;top:15px;}
