.main_box{
	height: 650px;
	width: 1140px;
	margin: 30px auto;
	padding: 33px 0px 0px 60px;
	background-color: #fff;
}
.header_top{
	color: #3A4762;
	font-size: 20px;
	margin-bottom: 150px;
}
.center_box{
	height: 184px;
	padding-left: 313px;
}
.phone_img_box{
	height: 184px;
	width: 139px;
	float: left;
	margin-right: 174px;
	text-align: center;
}
.email_img_box{
	height: 184px;
	width: 139px;
	float: left;
	margin-right: 174px;
	text-align: center;
}
.phone_img_box p{
	color: #051f5a;	
	font-size: 18px;
}
.email_img_box p{
	color: #051f5a;	
	font-size: 18px;
}
.phone_img{
	width: 140px;
	height: 140px;
	border-radius: 70px;
	margin-bottom: 26px;
	display: block;
	background: url(../img/12.png) no-repeat ;
}
.phone_img:hover{
	background: url(../img/12.png) no-repeat 0px -142px ;
}


.phone-img{
	width: 140px;
	height: 140px;
	border-radius: 70px;
	margin-bottom: 26px;
	display: block;
	background: url(../img/suc.png) no-repeat;
}
.phone-img:hover{
	background: url(../img/suc1.png) no-repeat;
}
.center_box .email1-img{
	width: 140px;
	height: 140px;
	border-radius: 70px;
	margin-bottom: 26px;
	display: block;
	background: url(../img/bai.png) no-repeat 0px 0px;
}
.center_box .email1-img:hover{
	background: url(../img/bai1.png) no-repeat 0px 0px;;
}
.email_img{
	width: 140px;
	height: 140px;
	border-radius: 70px;
	margin-bottom: 26px;
	display: block;
	background: url(../img/12.png) no-repeat -142px 0px;
}
.email_img:hover{
	background: url(../img/12.png) no-repeat -142px -142px;

}
.header_top1{
	color: #3A4762;
	font-size: 20px;
	margin-bottom: 80px;
}
.p_center_box{
	width: 540px;
	height: 392px;
	margin: 0 auto;
}

.revise_status{
	width: 540px;
	height: 53px;
	text-align: center;
	margin-bottom: 75px;
}
.revise_status1{
	width: 180px;
	height: 50px;
	line-height: 50px;
	color: #8c93a2;
	float: left;
	border-bottom: 3px solid #d6def3;
}
.revise_status2{
	width: 180px;
	height: 50px;
	line-height: 50px;
	color: #8c93a2;
	float: left;
	border-bottom: 3px solid #d6def3;
}
.email_txt{
	font-size: 14px;
	color: #8c93a2;
	height: 50px;
	line-height: 30px;
	width: 300px;
	text-align: center;
	margin: 0 auto 90px auto;
}
.email_txt span{
	color: #ee3030;
}
.revise_status3{
	width: 180px;
	height: 50px;
	line-height: 50px;
	color: #8c93a2;
	float: left;
	border-bottom: 3px solid #d6def3;
}
.form_status1{
	width: 540px;
	height: 210px;
	display: none;
}
.form_status2{
	width: 540px;
	height: 210px;
	display: none;
	
}
.form_status3{
	width: 540px;
	height: 290px;
	margin-left: 230px;
	
}
.input_b_box{
	width: 540px;
	height: 45px;
	margin-bottom: 40px;
	position: relative;
}

.inp_box{
	width: 540px;
	height: 45px;
	position: relative;
	margin-bottom: 20px;
}
.label_txt{
	width: 90px;
	height: 45px;
	line-height: 45px;
	text-align: right;
	font-size: 14px;
	float: left;
	margin-right: 30px;
}
.txt_inp{
	width: 274px;
	height: 44px;
	padding: 0px 12px;
	font-size: 14px;
	float: left;
	border: 1px solid #cfd5e1;
}
.code_box{
	width: 540px;
	height: 45px;
	position: relative;
	margin-bottom: 20px;
	
}
.code_txt{
	width: 90px;
	height: 45px;
	line-height: 45px;
	text-align: right;
	float: left;
	margin-right: 30px;
	font-size: 14px;
}
.code_inp{
	width: 186px;
	height: 44px;
	padding: 0px 100px 0px 12px;
	float: left;
	border: 1px solid #cfd5e1;
	font-size: 14px;
}
.get_code{
	text-align: center;
	line-height: 24px;
	position: absolute;
	top: 11px;
	left: 330px;
	width: 80px;
    height: 24px;
    background-color: #607ee2;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
}
.get_code.hover{
	background: #fff;color: #8c93a2;
}
.revise_sub{
	color: #fff;
	width: 300px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #EB6E28;
	display: block;
	border: none;
	margin-left: 120px;
	font-size: 14px;
}

.revise_status .suc{
	color: #607ee2;
	border-bottom: 3px solid #8ca2da;
}
.error{
	display: block;
}
.suc_box{
	width: 540px;
	text-align: center;
	display: none;
}
.wait_box{
	width: 540px;
	text-align: center;
	display: none;
}
.suc_img{
	/*width: 100px;
	height: 70px;
	margin-bottom: 30px;*/
}
.suc_txt{
	font-size: 24px;
	color: #3a4762;
	margin-bottom: 69px;
}
.go_safety{
	width: 300px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	background-color: #eb6e28;
	color: #fff;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}

.go_safety1{
	width: 298px;
	height: 44px;
	line-height: 46px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #eb6e28;
	color: #eb6e28;
	margin: 0 auto;
	display: block;
}
.go_safety a{
	width: 300px;
	height: 46px;
	font-size: 14px;
	color: #ffffff;
	display: block;
}
.go_safety1 a{
	width: 300px;
	height: 46px;
	font-size: 14px;
	color: #eb6e28;
	display: block;
}
.suc_box a:active{
	background-color: #da611d;
	color: #fff;
}
.show{
	display: block;
}


/*合同页*/
.text_box{
	height: 866px;
	width: 1140px;
	margin: 30px auto;
	padding: 50px 0px 0px 60px;
	background-color: #fff;
}
.text_content{
	width: 1018px;
    height: 620px;
    border: solid 1px #eaedf2;
    overflow: scroll;
    overflow-x: hidden;
    padding: 30px;
}
.text_box .header_top1 {
    color: #3A4762;
    font-size: 20px;
    margin-bottom: 40px;
}
.text_content p{
	font-size:14px ;
	line-height: 40px;
	letter-spacing: 0px;
	color: #8c93a2;
}
.text_box .header_top1{
	color: #18284b;
	font-size: 28px;
}
#help_number {
	margin: 0 auto;
    margin-bottom: 20px;
    padding: 40px;
    width: 1120px;
    background: #fff;
}
#help_number .float_r p{ text-align:right;}
#help_number p{ line-height:26px;}
.clear0 {
    height: 0px;
    clear: both;
}