.main_r{
	height: 920px;
}
.main_r .safety_header{
	height: 80px;
	line-height: 80px;
	width: 964px;
	padding-left: 60px;
	box-sizing: border-box;
	border-bottom: 2px solid #f1f5fc;
}
.safety_header p{
	font-size: 20px;
	color: #3a4762;
	
}
.revise_box{
	width: 964px;
	padding-top: 80px;
}
.revise_status{
	width: 675px;
	height: 30px;
	padding-left: 285px;
	text-align: center;
	margin-bottom: 60px;
}
.revise_status1{
	width: 130px;
	height: 30px;
	float: left;
	color: #8c93a2;
	border-bottom: 3px solid #d6def3;
}
.revise_status2{
	width: 130px;
	height: 30px;
	float: left;
	border-bottom: 3px solid #d6def3;
	color: #8c93a2;
}
.revise_status3{
	width: 130px;
	height: 30px;
	float: left;
	border-bottom: 3px solid #d6def3;
	color: #8c93a2;
}
.form_status1{
	width: 400px;
	height: 210px;
	margin-left: 230px;
	display: none;
}
.form_status2{
	display: none;
}
.form_status3{
	width: 400px;
	height: 290px;
	margin-left: 230px;
	display: none;
}
.old_phone_box{
	height: 45px;
	margin-bottom: 30px;
	position: relative;
}
.old_phone_txt{
	width: 300px;
	height: 46px;
	line-height: 46px;
	text-align: right;
	font-size: 14px;
	float: left;
	margin-right: 30px;
}
.old_phone_inp{
	width: 272px;
	height: 46px;
	padding: 0px 12px;
	float: left;
	background-color: #f6f8fc;
	border: 1px solid #cfd5e1;
	color: #8c93a2;
}
.txt_inp{
	width: 272px;
	height: 46px;
	padding: 0px 12px;
	float: left;
	border: 1px solid #cfd5e1;
	color: #8c93a2;
}
.code_box{
	height: 45px;
	position: relative;
	margin-bottom: 40px;
	
}
.code_txt{
	width: 300px;
	height: 46px;
	line-height: 46px;
	text-align: right;
	float: left;
	margin-right: 30px;
	font-size: 14px;
}
.code_inp{
	width: 186px;
	height: 46px;
	padding: 0px 100px 0px 12px;
	float: left;
	border: 1px solid #cfd5e1;
}
.get_code{
	text-align: center;
	line-height: 24px;
	position: absolute;
	top: 11px;
	left: 300px;
	width: 80px;
    height: 24px;
    background-color: #607ee2;
    border-radius: 12px;
    color: #fff;
}
.get_code.hover{background: #fff;color: #8c93a2;}
.revise_sub{
	color: #fff;
	width: 300px;
	height: 45px;
	line-height: 45px;
	display: block;
	text-align: center;
	font-size: 14px;
	background-color: #EB6E28;
	border: none;
	margin-left: 330px;
}
.old_phone_tip{
	position: absolute;
	top: 45px;
	left: 100px;
	color: #ff6666;
	display: none;
}
.revise_status .suc{
	color: #607ee2;
	border-bottom: 3px solid #8ca2da;
}
.suc_box{
	width: 964px;
	text-align: center;
	display: none;
}
.suc_img{
	/*width: 111px;
	height: 75px;
	margin-bottom: 22px;*/
}
.suc_txt{
	font-size: 24px;
	color: #3a4762;
	margin-bottom: 80px;
}
.go_safety{
	width: 300px;
	height: 46px;
	line-height: 46px;
	background-color: #eb6e28;
	margin: 0 auto;
}
.go_safety a{
	width: 300px;
	height: 46px;
	font-size: 14px;
	color: #ffffff;
	
}
